
/* Fuente*/
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

/*Scroll Personalizado*/
body::-webkit-scrollbar{
    width: 8px;
}
body::-webkit-scrollbar-thumb{
    background: gray;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
body::-webkit-scrollbar-thumb:hover{
    background: rgb(82, 81, 81);
}
body::-webkit-scrollbar-track{
    background: black;
}

/*body*/
body{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    background-color: #FFFFFF;
    font-weight: 700;
}
/* Header */
.background{
    background-color: #000;
    height: 100vh;
}
.Nombre{
    font-size: 20px;
    color: #FFF;
    text-decoration: none;
}

li{
    list-style: none;
    margin: 15px;
}

ul li a{
    text-decoration: none;
    color: #FFF;
    font-size: 15px;
}

ul li a:hover{
    color: #0366D6;
    transition: 0.6s;
    -webkit-transition: 0.6s;
    -moz-transition: 0.6s;
    -ms-transition: 0.6s;
    -o-transition: 0.6s;
}
.menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.lista{
    display: flex;
}
.titular{
    text-align: center;
    margin-top: 180px;
    font-size: 15px;
    color: #FFF;
    padding: 0 10px 70px 10px;
}
.titular a{
    text-decoration: none;
    color: #FFF;
    background-color: #0366D6;
    padding: 15px 30px;
    font-size: 14px;
    border-radius: 10px 100px / 120px;
}
.titular a:hover{
    font-size: 16px;
    transition: 0.6s;
    -webkit-transition: 0.6s;
    -moz-transition: 0.6s;
    -ms-transition: 0.6s;
    -o-transition: 0.6s;
}
.titular h2{
    margin-bottom: 50px;
}
.titular h1{
    font-size: 55px;
}
.titular h2{
    font-size: 22px;
}

.contenedor{
    max-width: 1280px;
    width: 90%;
    margin: auto;
}

/*Lenguajes*/
.lenguajes{
    display: flex;
    align-items: center;
}
.spain,.unitedk{
    width: 40px;
    margin-left: 25px;
}
.unitedk:hover{
    width: 50px;
    transition: 0.6s;
    -webkit-transition: 0.6s;
    -moz-transition: 0.6s;
    -ms-transition: 0.6s;
    -o-transition: 0.6s;
}
.spain:hover{
    width: 50px;
    transition: 0.6s;
    -webkit-transition: 0.6s;
    -moz-transition: 0.6s;
    -ms-transition: 0.6s;
    -o-transition: 0.6s;
}

/*Sobre mi*/
section h3{
    text-align: center;
    font-size: 55px;
    font-weight: normal;
    
}
.sobre-mi{
    display: flex;
    justify-content: space-around;
    
}
.sobre-mi img{
    height: 300px;
    margin-bottom: 70px;
}
.contenedor-parrafo{
    width: 42%;
}
